<!DOCTYPE html>
<html lang="id-ID">

<head>
    <meta charset="utf-8">

    <title>Hajatans</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="description" content="Platform pembuatan undangan digital untuk pernikahan. Tersedia paket pembuatan undangan gratis hingga premium" itemprop="description">
<meta name="keywords" content="undangan, undangan digital, undangan website, undangan video, undangan pernikahan, undangan online, undangan web, website pernikahan, video pernikahan, undangan pernikahan online, online invitation, e invitation, invitation, wedding invitation digital, undangan pernikahan digital, undangan nikah, undangan nikah digital, undangan digital pernikahan, undangan perkawinan, undangan pernikahan, undangan web, undangan website, undangan online, undangan onlineku, template undangan, desain undangan, desain undangan pernikahan, cara membuat undangan digital, cara membuat undangan pernikahan, gambar undangan perkawinan, gambar undangan pernikahan, website pernikahan, template video undangan pernikahan, undangan pernikahan online, undangan digital kosong, template undangan digital kosong, template undangan digital, background undangan digital, membuat undangan digital, contoh undangan pernikahan" itemprop="keywords"/>

<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<meta name="googlebot-news" content="index, follow"/>

<meta property="og:title" content="Hajatans">
<meta property="og:url" content="https://hajatans.com">
<meta property="og:description" content="Platform pembuatan undangan digital untuk pernikahan. Tersedia paket pembuatan undangan gratis hingga premium">
<meta property="og:image" content="https://ajakan.me/photo/mitra/logo/165258084458465.png">
<meta property="og:site_name" content="hajatans.com">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="Platform pembuatan undangan digital untuk pernikahan. Tersedia paket pembuatan undangan gratis hingga premium"/>
<meta name="twitter:image:src" content="https://ajakan.me/photo/mitra/logo/165258084458465.png"/>

<link rel="shortcut icon" href="https://hajatans.com/photo/mitra/logo/165258084458465.png">
<link href="https://hajatans.com" rel="dns-prefetch">
<link href="https://www.googletagmanager.com" rel="dns-prefetch">
<link href="https://code.jquery.com" rel="dns-prefetch">
<link href="https://cdn.jsdelivr.net" rel="dns-prefetch">

<meta name="google-site-verification" content="AgoJUAdmN_x49LaE9JMaz4MbSnhzlzbLV9qfnzz2wyY"/>
<meta name="google-site-verification" content="NYsibG19vgF6l6mFwFfKVO6SSwaMDUUXEhCw5asH78c"/>

    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-bootstrap.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-animate.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-magnific-popup.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-slick.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-swiper.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-lineicons.css">
    <link rel="stylesheet" href="https://hajatans.com/admin-theme/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/floating-wa/floating-wpp.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-default.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-style.min.css">
    <link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-style-landing.min.css">
	<link rel="stylesheet" href="https://hajatans.com/partner-theme/default/css/css-new-style.css">

    <style>.desc{font-size:1rem;line-height:1.5}.desc .collapse:not(.show) {display:block;height:3rem;overflow:hidden}.desc .collapsing{height:3rem}.desc a.collapsed:after{content:'+ Show More'}.desc a:not(.collapsed):after {content:'- Show Less'}</style>


</head>

<body>

    <header class="header-area">

        <div class="navbar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="http://127.0.0.1:3000/Project Web Hajatans/html/home.html"> <img src="https://hajatans.com/photo/mitra/logo/165258083616002.png" alt="Logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span> <span class="toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">                          
                        <li class="nav-item active"> <a class="page-scroll" href="http://127.0.0.1:3000/Project Web Hajatans/html/home.html">Home</a> </li>
                        
                        <li class="nav-item"> <a class="page-scroll" href="#pricing">Paket</a> </li>
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle link-mimic" data-toggle="dropdown" id="dropdownMenuLink bg-transparent" style="">Produk</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="menuProduct">
                                <a class="dropdown-item" href="/theme?type=wedding">Undangan Pernikahan</a>
                                <a class="dropdown-item" href="/theme?type=video">Undangan Video</a>
                                <a class="dropdown-item" href="/theme?type=khitanan">Undangan Khitanan</a>
                                <a class="dropdown-item" href="/theme?type=aqiqah">Undangan Aqiqah</a>
                                <a class="dropdown-item" href="/theme?type=wisuda">Undangan Wisuda</a>
                                <a class="dropdown-item" href="/theme?type=birthday">Undangan Birthday</a>
                                
                                                                <a class="dropdown-item" href="/other-product">Produk lainnya</a>
                                                                

                            </div>
                        </li>
                        <li class="nav-item"> <a class="page-scroll" href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html">Login</a> </li>
                        <li class="nav-item"> <a class="page-scroll" href="http://127.0.0.1:3000/Project Web Hajatans/html/register.html">Daftar</a> </li>                          
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

        <div id="home" class="header-hero bg_cover d-lg-flex align-items-center">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
            <div class="shape shape-5"></div>
            <div class="shape shape-6"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-10">
                        <div class="header-hero-content">
                            <h1 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                Platform Pembuatan Undangan Online</h1>
                            <p class="text wow fadeInLeftBig blue-bold" data-wow-duration="1.3s" data-wow-delay="0.6s">
                                Bagikan moment indahmu dengan <b>MUDAH</b>, <b>CEPAT</b>, dan <b>MURAH</b>. Tersedia berbagai tema menarik yang bisa kamu <b> CUSTOM</b> sendiri</p>
                            <ul class="d-flex">
                                <li><a href="http://127.0.0.1:3000/Project Web Hajatans/html/register.html" class="main-btn wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.8s">Buat Undangan</a></li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                        <div class="header-image">
                            <ul class="header-image-ul">
                                <li id="li1">
                                    <img style="visibility: visible" src="https://hajatans.com/partner-theme/default/images/preview1.webp" alt="app" class="image wow fadeInRightBig" data-wow-duration="2s">
                                </li>
                                <li id="li2">
                                    <img style="visibility: hidden" src="https://hajatans.com/partner-theme/default/images/preview2.webp" alt="app" class="image wow fadeInRightBig" data-wow-duration="2s">
                                </li>
                                <li id="li3">
                                    <img style="visibility: hidden" src="https://hajatans.com/partner-theme/default/images/preview3.webp" alt="app" class="image wow fadeInRightBig" data-wow-duration="2s">
                                </li>
                            </ul>
                            <div class="image-shape wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                                <img src="https://hajatans.com/partner-theme/default/images/images-image-shape.svg" alt="shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-shape-1 d-none d-md-block"></div>
            <div class="header-shape-2"> <img src="https://hajatans.com/partner-theme/default/images/images-header-shape-2.svg" alt="shape"> </div>
        </div>
    </header>
    <section id="feature" class="services-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center section-title pb-25">
                        <h3 class="title">Platform Pembuatan Undangan Online</h3>
                        <p class="text">Bagikan moment indahmu dengan <b>MUDAH</b>, <b>CEPAT</b>, dan <b>MURAH</b>. Tersedia berbagai tema menarik yang bisa kamu <b> CUSTOM</b> sendiri</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="text-center single-services services-color-1 mt-30 wow fadeInUpBig border-card" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <div class="services-icon d-flex align-items-center justify-content-center"> <i class="lni lni-laptop-phone"></i> </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Undangan Digital</a></h4>
                            <p class="text">Kami menyediakan berbagai pilihan template untuk undangan digital kamu.
                                Eits, ada ragam pilihan music juga loh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 border-card">
                    <div class="text-center single-services services-color-2 mt-30 wow fadeInUpBig border-card" data-wow-duration="1.3s" data-wow-delay="0.4s">
                        <div class="services-icon d-flex align-items-center justify-content-center"> <i class="lni lni-play"></i> </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Undangan Video</a></h4>
                            <p class="text">Tidak cukup hanya dengan website, kami juga menyediakan undangan berupa
                                video untuk membuat tamu kamu lebih nyaman dalam menerima informasi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 border-card">
                    <div class="text-center single-services services-color-3 mt-30 wow fadeInUpBig border-card" data-wow-duration="1.3s" data-wow-delay="0.6s">
                        <div class="services-icon d-flex align-items-center justify-content-center"> <i class="lni lni-bolt"></i> </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Cepat & Mudah</a></h4>
                            <p class="text">Cukup dalam beberapa menit kamu sudah bisa membuat website undangan digital
                                kamu sendiri</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 border-card">
                    <div class="text-center single-services services-color-4 mt-30 wow fadeInUpBig border-card" data-wow-duration="1.3s" data-wow-delay="0.8s">
                        <div class="services-icon d-flex align-items-center justify-content-center"> <i class="lni lni-mobile"></i> </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">QR Scanner Tamu</a></h4>
                            <p class="text">Untuk menghindari kontak antar tamu saat acara berlangsung, kami juga
                                menyediakan sistem penerimaan tamu via scanner QR code. Tentu hal ini lebih mudah, cepat
                                dan aman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about-area pt-70 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image mt-50 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="about-shape"></div> <img class="app" src="https://hajatans.com/partner-theme/default/images/images-about-app.webp" alt="app">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <h3 class="title">Trend Undangan</h3>
                            <p class="text">Di masa sekarang, undangan digital sudah menjadi kebutuhan dalam setiap
                                event. Kami bertekad untuk membantu kamu dalam memberikan kemudahan dan pelayanan yang
                                maksimal agar kamu bisa menciptakan undangan digital kamu sendiri dengan mudah dan
                                cepat.</p>
                        </div> <a href="/customer/buypackage" class="main-btn">Buat Undangan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="screenshots" class="screenshots-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center section-title pb-45">
                        <h3 class="title">Pilihan Tema</h3>
                        <p class="text">Kamu bebas memilih tema yang kamu suka dari puluhan tema terbaik yang kami sediakan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="screenshot-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-1-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-2-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-3-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-4-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-5-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-6-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-7-min.webp" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-image">
                                        <img src="https://hajatans.com/partner-theme/default/images/phone_ss/Template%20HP-8-min.webp" alt="screenshot">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="screenshot-frame d-none d-sm-block">
                                <img src="https://hajatans.com/partner-theme/default/images/frame_theme.png" alt="frame" style="height: 83%;width: 60%;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <center>
                        <div> <a class="main-btn" href="/theme">Tampilkan Lebih Banyak</a> </div>
                    </center>
                </div>
            </div>
        </div>
    </section>

        <section id="pricing" class="pricing-area pt-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center section-title pb-30">
                    <h3 class="title">Paket Website</h3>
                    <p class="text">Pilih paket layanan website undangan pernikahan sesuai kebutuhan kamu</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-7 col-sm-9">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt="">
                    </div>
                    <div class="pricing-title">
                        <h4 class="title">Free Package</h4>
                    </div>
                    <div class="pricing-price">
                        <span class="price">
                            IDR 0
                        </span>
                    </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                            <li v-for="free in freePackages">{{ free }}</li>
                            <li>Domain undangan hajatans.com/{nama kamu}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=wedding" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                         <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                </div>
            </div>
                                        <div class="col-lg-3 col-md-7 col-sm-9">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt="">
                    </div>
                    <div class="pricing-title">
                        <h4 class="title">Silver Package</h4>
                    </div>
                    <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                IDR 250.000
                                </s> 
                            </small> <br>
                            IDR 59.000
                        </span>
                    </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                            <li v-for="silver in silverPackages">{{ silver }}</li>
                            <li>Domain undangan hajatans.com/{nama kamu}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=wedding" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                         <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                </div>
            </div>
                                        <div class="col-lg-3 col-md-7 col-sm-9">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt="">
                    </div>
                    <div class="pricing-title">
                        <h4 class="title">Gold Package</h4>
                    </div>
                    <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 350.000
                                </s> 
                            </small> <br>
                            IDR 79.000
                        </span>
                    </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                            <li v-for="gold in goldPackages">{{ gold }}</li>
                            <li>Domain undangan hajatans.com/{nama kamu}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=wedding" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                         <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                </div>
            </div>
                                        <div class="col-lg-3 col-md-7 col-sm-9">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt="">
                    </div>
                    <div class="pricing-title">
                        <h4 class="title">Platinum Package</h4>
                    </div>
                    <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 400.000
                                </s> 
                            </small> <br>
                            IDR 99.000
                        </span>
                    </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                            <li v-for="platinum in platinumPackages">{{ platinum }}</li>
                            <li>Domain undangan hajatans.com/{nama kamu}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=wedding" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                         <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                </div>
            </div>
                        </div>
    </div>
    </section>
    
        <section id="pricing-video" class="pricing-area pt-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center section-title pb-30">
                        <h3 class="title">Paket Video</h3>
                        <p class="text">Pilih paket video undangan pernikahan sesuai keinginan kamu</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                            <div class="mt-3 col-lg-4">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                <div class="pricing-title">
                    <h4 class="title">Gold Video Package</h4> </div>
                    <div class="pricing-price">
                    <span class="price">
                        <small> 
                            <s>
                                IDR 300.000
                            </s> 
                        </small> <br>
                        IDR 89.000
                    </span>
                    </div>
                <div class="pricing-list">
                    <ul class="list checklist-ul">
                    <li v-for="video1 in listVideo1">{{ video1 }}</li>
                    </ul>
                </div>
                <a href="/theme?type=video" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                 <i class="nav-icon lni lni-eye"></i>  Preview</a>

                <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                     <i class="nav-icon lni lni-shopify"></i>  Order Now
                </a>
                </div>
            </div>
            
                            <div class="mt-3 col-lg-4">
                <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                <div class="pricing-title">
                    <h4 class="title">Platinum Video Package</h4> </div>
                    <div class="pricing-price">
                    <span class="price">
                        <small> 
                            <s>
                                IDR 500.000
                            </s> 
                        </small> <br>
                        IDR 99.000
                    </span>
                    </div>
                <div class="pricing-list">
                    <ul class="list checklist-ul">
                    <li v-for="video2 in listVideo2">{{ video2 }}</li>
                    </ul>
                </div>
                <a href="/theme?type=video" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                 <i class="nav-icon lni lni-eye"></i>  Preview</a>

                <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                     <i class="nav-icon lni lni-shopify"></i>  Order Now
                </a>
                </div>
            </div>
            
            </div>
        </div>
    </section>
    
    
    <section id="pricing-event" class="pricing-area pt-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center section-title pb-30">
                        <h3 class="title">Paket Event Lainnya</h3>
                        <p class="text">Berikut pilihan paket undangan website untuk event selain pernikahan</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            
                                <div class="mt-3 col-lg-4">
                    <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                    <div class="pricing-title">
                        <h4 class="title">Khitanan Package</h4> </div>
                        <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 99.000
                                </s> 
                            </small> <br>
                            IDR 49.000
                        </span>
                        </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                        <li v-for="khitanan in listKhitanan">{{ khitanan }}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=khitanan" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                     <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                    </div>
                </div>
                
                                <div class="mt-3 col-lg-4">
                    <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                    <div class="pricing-title">
                        <h4 class="title">Aqiqah Package</h4> </div>
                        <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 99.000
                                </s> 
                            </small> <br>
                            IDR 49.000
                        </span>
                        </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                        <li v-for="aqiqah in listAqiqah">{{ aqiqah }}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=aqiqah" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                     <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                    </div>
                </div>
                
                                <div class="mt-3 col-lg-4">
                    <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                    <div class="pricing-title">
                        <h4 class="title">Wisuda Package</h4> </div>
                        <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 99.000
                                </s> 
                            </small> <br>
                            IDR 49.000
                        </span>
                        </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                        <li v-for="wisuda in listWisuda">{{ wisuda }}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=wisuda" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                     <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                    </div>
                </div>
                
                                <div class="mt-3 col-lg-4">
                    <div class="text-left single-pricing pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                    <div class="pricing-title">
                        <h4 class="title">Birthday Package</h4> </div>
                        <div class="pricing-price">
                        <span class="price">
                            <small> 
                                <s>
                                    IDR 99.000
                                </s> 
                            </small> <br>
                            IDR 49.000
                        </span>
                        </div>
                    <div class="pricing-list">
                        <ul class="list checklist-ul">
                        <li v-for="birthday in listBirthday">{{ birthday }}</li>
                        </ul>
                    </div>
                    <a href="/theme?type=birthday" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                     <i class="nav-icon lni lni-eye"></i>  Preview</a>

                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                         <i class="nav-icon lni lni-shopify"></i>  Order Now
                    </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section id="pricing-other" class="pricing-area pt-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center section-title pb-30">
                        <h3 class="title">Produk Lainnya</h3>
                        <p class="text">Berikut produk kami selain undangan digital</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                                <div class="mt-3 col-lg-4">
                    <div class="text-left single-pricing with-img pricing-active mt-30 wow fadeIn fix-height" data-wow-duration="1.3s" data-wow-delay="0.5s">
                        <div class="mb-5 img-container">
                            
                                                            <img src="https://hajatans.com/themes/assets/images/no-img.svg" alt="">
                                                    </div>
                        <div class="pricing-shape"> <img src="https://hajatans.com/partner-theme/default/images/images-price-shape.png" alt=""> </div>
                        <div class="pricing-title">
                            <h4 class="title">Cetak Undangan Pernikahan</h4> 
                        </div>
                        <div class="pricing-price">
                            <span class="price">
                                <small style="font-size: 14px"> <s>IDR 680</s> </small> <br>
                                <div>IDR 500</div>
                            </span>
                        </div>
                        <div class="pb-0 description desc">
                            <div class="mb-2 collapse" id="collapseDesc1">
                                <p><strong>Cetak Undangan Pernikahan</strong></p>
                            </div>
                            <a role="button" class="collapsed" data-toggle="collapse" href="#collapseDesc1" aria-expanded="false" aria-controls="collapseDesc1">
                        </div>
                    <a href="/theme?type=video" class="btn btn-sm btn-default" target="_blank" style="bottom:20px;right:140px;position:absolute;">
                    &nbsp;<i class="nav-icon lni lni-eye"></i>&nbsp; Preview</a>
                    <a href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html" class="btn btn-sm btn-primary" @click="orderVideo('Platinum Video Package')" style="bottom:20px;right:20px;position:absolute;border-radius:20px">
                        &nbsp;<i class="nav-icon lni lni-shopify"></i>&nbsp; Order Now
                    </a>
                    </div>
                </div>
                                <center>
                    <div class="mt-5" style="z-index: 2000"> <a class="main-btn" href="/other-product">Tampilkan Lebih Banyak</a> </div>
                </center>
            </div>
        </div>
    </section>
    
    <div class="mb-5"></div>

    <footer id="footer" class="footer-area">
<div class="footer-shape shape-1"></div>
<div class="footer-shape shape-2"></div>
<div class="footer-shape shape-3"></div>
<div class="footer-shape shape-4"></div>
<div class="footer-shape shape-5"></div>
<div class="footer-shape shape-6"></div>
<div class="footer-shape shape-7"></div>
<div class="footer-shape shape-8"> <img class="svg" src="https://hajatans.com/partner-theme/default/images/images-footer-shape.svg" alt="Shape"> </div>
<div class="footer-widget pt-30 pb-80">
    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <a class="logo" href="#"> <img src="https://hajatans.com/photo/mitra/logo/165258083616002.png" alt="Logo"> </a>            
            <p class="text">Platform pembuatan undangan online dari mulai gratis hingga berbayar, mudah dan cepat. Undangan berupa website yang dapat diakses dan dibagikan kapanpun.</p>
            <h6 class="text">Metode Pembayaran</h6>
            <div class="row mt-3 ml-1">
            <img width="225px" src="https://hajatans.com/partner-theme/default/images/payment.jpg" alt="Payment Method">  
            </div>
        </div>
        </div>
        <div class="col-lg-5 col-md-6">
        <div class="footer-link d-flex flex-wrap">
            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <div class="footer-title">
                <h4 class="title">Quick Links</h4> </div>
            <ul class="link">
                                <li><a class="page-scroll" href="http://127.0.0.1:3000/Project Web Hajatans/html/home.html">Home</a></li>
                <li><a class="" href="#feature">Fitur</a></li>
                <li><a class="" href="#pricing">Paket</a></li>
                <li><a class="" href="/theme">Tema</a></li>
                <li><a class="" href="http://127.0.0.1:3000/Project Web Hajatans/html/login.html">Login</a></li>
                            </ul>
            </div>
            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s">
            <div class="footer-title">
                <h4 class="title">Support</h4> </div>
            <ul class="link">
                                <li><a class="" href="/faq">FAQ</a></li>
                                <li><a class="" href="/privacy-policy">Kebijakan Privasi</a></li>
                <li><a class="" href="/term-condition">Term & Condition</a></li>

                                <li><a class="" href="https://api.whatsapp.com/send?phone=6281222881121" target="_blank">Hubungi Kami</a></li>
                                    <li><a class="" href="https://www.instagram.com/hajatans.id" target="_blank">Ikuti Kami</a></li>
                                
            </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6">
        <div class="footer-contact mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
            <div class="footer-title">
            <h4 class="title">Contact Us</h4> </div>
            <ul class="contact-list">
                                <li>
                <div class="contact-info d-flex">
                    <div class="info-content media-body">
                    <p class="text"><i class="lni lni-phone"></i> +6281222881121</p>
                    </div>
                </div>
                </li>
                                <li>
                <div class="contact-info d-flex">
                    <div class="info-content media-body">
                    <p class="text"><a href="https://www.instagram.com/hajatans.id"><i class="lni lni-instagram"></i> hajatans.id</a></p>
                    </div>
                </div>
                </li>
                                <li>
                <div class="contact-info d-flex">
                    <div class="info-content media-body">
                    <p class="text"><a href="https://hajatans.com"><i class="lni lni-world"></i> www.hajatans.com</a></p>
                    </div>
                </div>
                </li>
                <li>
                <div class="contact-info d-flex">
                    <div class="info-content media-body">
                    <p class="text"><a href="#"><i class="lni lni-envelope"></i> hajatansid@gmail.com</a></p>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>

<div id="waButton"></div>

<div class="footer-copyright">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="copyright d-sm-flex justify-content-between">
                        <div class="copyright-privacy text-center"> <a href="https://www.instagram.com/hajatans.id">Find Us on Social Media</a> </div>
                        <div class="copyright-text text-center">
                            <p class="text"><a rel="follow" href="https://hajatans.com">Powered by Hajatans</a></p>
                        </div>
        </div>
        </div>
    </div>
    </div>
</div>
</footer>

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <script data-cfasync="false" src="https://hajatans.com/partner-theme/default/js/cloudflare-static-email-decode.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/vendor-jquery-1.12.4.min.js"></script>
    
    <script src="https://hajatans.com/partner-theme/default/js/js-jquery.magnific-popup.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-jquery.easing.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/vendor-modernizr-3.7.1.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-bootstrap.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-popper.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-slick.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-wow.min.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-swiper.min.js"></script>
    <script src="/https://hajatans.com/partner-theme/default/js/js-scrolling-nav.js"></script>
    <script src="https://hajatans.com/partner-theme/default/js/js-main.js"></script>

    <!-- Axios -->
    <script src="https://hajatans.com/admin-theme/dist/js/axios.min.js"></script>
    <!-- Vue JS -->
    <script src="https://hajatans.com/admin-theme/dist/js/vue.min.js"></script>

    <!-- Floating whatsapp -->
    <script type="text/javascript" src="https://hajatans.com/partner-theme/default/floating-wa/floating-wpp.min.js"></script>

    <script type="text/javascript">
      // Check is Opened from Instagram Browser
      // if(navigator.userAgent.includes("Instagram")){window.location.href = "/in-app-instagram";}

    let count_img=0;
    headerImage = () => {
          // // $('.header-image ul #li').hide();
        $('.header-image-ul>li>img').css('visibility','hidden');
        if(count_img==3){
            count_img=0;
        }
        count_img++;
        $('.header-image-ul>#li'+count_img+'>img').css('visibility','visible');
    }
    setInterval(headerImage, 4000);

    $('.carousel').carousel();

	    $(function () {
	        $('#waButton').floatingWhatsApp({
	            phone: "6281222881121",
	            popupMessage: 'Hallo, apakah ada yang bisa kami bantu?',
	            message: "Halo, Saya mau bertanya tentang paket pembuatan undangan di Hajatans",
	            message2: "Halo, Saya mau bertanya tentang paket pembuatan undangan di Hajatans",
	            showPopup: true,
	            showOnIE: true,
	            // headerTitle: 'Welcome!',
	            headerColor: '#085E53',
	            backgroundColor: '#ffffff00',
	            // buttonImage: '<img src="https://hajatans.com//admin-theme/dist/img/wa-icon.png" />'
	    });
	});

    var vue = new Vue({
        el: '#pricing',
        data: {
            freePackages: '',
            silverPackages: '',
            goldPackages: '',
            platinumPackages: '',
        },
        mounted(){
            this.freePackages = ["Masa Aktif 3 hari","Bebas Custom Domain","Gratis Memilih Tema (5 Pilihan)","Gratis 1 Musik","Bebas Custom Font Tema","Autoplay Musik","Count Down Acara","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Bisa Input Link Streaming Youtube, Instagram & Tiktok di Undangan"];
            this.silverPackages = ["Masa Aktif 10 Hari","Bebas Custom Domain","Bebas Memilih Tema (50+ Pilihan)","Bebas Memilih Musik (60+ Pilihan)","Bebas Custom Font Tema","Autoplay Musik","Count Down Acara","Galeri 3 Foto","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Bisa Input Link Streaming Youtube, Instagram & Tiktok di Undangan","Custom Preview Whatsapp Saat Share Undangan"];
            this.goldPackages = ["Masa Aktif 1 Bulan","Bebas Custom Domain","Bebas Memilih Tema (50+ Pilihan)","Bebas Memilih Musik (60+ Pilihan)","Bebas Custom Font Tema","Autoplay Musik","Count Down Acara","Buku Tamu Dengan QR Code","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Bisa Input Link Streaming Youtube, Instagram & Tiktok di Undangan","Custom Preview Whatsapp Saat Share Undangan","Galeri 6 Foto","Fitur Kirim Amplop Untuk Mempelai"];
            this.platinumPackages = ["Masa Aktif 3 Bulan","Bebas Custom Domain","Bebas Memilih Tema (50+ Pilihan)","Bebas Memilih Musik (60+ Pilihan)","Bebas Custom Font Tema","Autoplay Musik","Count Down Acara","Buku Tamu Dengan QR Code","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Bisa Input Link Streaming Youtube, Instagram & Tiktok di Undangan","Custom Preview Whatsapp Saat Share Undangan","Fitur love story mempelai","Galeri 9 Foto","Fitur Kirim Amplop Untuk Mempelai"];
        }
	});

    var DETAIL_VIDEO_1 = ["Video Undangan Landscape","Bebas Memilih Puluhan Tema Video","Bebas Custom Music"];
    var DETAIL_VIDEO_2 = ["Video Undangan Landscape","Bebas Memilih Dari Tema Premium","Bebas Custom Music"];
    var DETAIL_VIDEO_3 = ["Video Undangan Landscape","Pilihan Template Premium","Bebas Custom Music"];

    var vue = new Vue({
        el: '#pricing-video',
        data: {
            listVideo1: '',
            listVideo2: '',
            listVideo3: ''
        },
        mounted(){
            this.listVideo1 = DETAIL_VIDEO_1;
            this.listVideo2 = DETAIL_VIDEO_2;
            this.listVideo3 = DETAIL_VIDEO_3;
        }
    });

    var vue = new Vue({
        el: '#pricing-event',
        data: {
            listKhitanan: '',
            listWisuda: '',
            listAqiqah: '',
            listBirthday: ''
        },
        mounted(){
            this.listKhitanan = ["Bebas Custom Domain","Pengaturan Musik","Count Down Acara","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Custom Preview Whatsapp Saat Share Undangan","Galeri 4 Foto","Masa Aktif 1 Bulan","Fitur Komentar Untuk Tamu"];
            this.listWisuda = ["Bebas Custom Domain","Pengaturan Musik","Count Down Acara","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Custom Preview Whatsapp Saat Share Undangan","Galeri 4 Foto","Masa Aktif 1 Bulan","Fitur Komentar Untuk Tamu"];
            this.listAqiqah = ["Bebas Custom Domain","Pengaturan Musik","Count Down Acara","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Custom Preview Whatsapp Saat Share Undangan","Galeri 4 Foto","Masa Aktif 1 Bulan","Fitur Komentar Untuk Tamu"];
            this.listBirthday = ["Bebas Custom Domain","Pengaturan Musik","Count Down Acara","Google Map Lokasi Acara","Bebas Custom Quotes di Undangan","Custom Preview Whatsapp Saat Share Undangan","Galeri 4 Foto","Masa Aktif 1 Bulan","Fitur Komentar Untuk Tamu"];
    }
});

function login() {
window.location = 'http://127.0.0.1:3000/Project Web Hajatans/html/login.html';
}
    </script>

</body>

</html>
